:root {
  color: #111;
  background: #f7f4ef;
  font-family: "IBM Plex Sans", system-ui, sans-serif;
}

.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.app__header {
  padding: 16px 24px;
  font-size: 20px;
  border-bottom: 1px solid #e0d8cc;
}

.app__main {
  padding: 24px;
}

.page-viewport {
  position: relative;
  display: inline-block;
}

.overlay-layer {
  position: absolute;
  inset: 0;
}

.text-object {
  position: absolute;
  cursor: move;
}

.text-object.is-selected {
  outline: 1px dashed #444;
}

.text-object__input {
  width: 100%;
  height: 100%;
  border: 1px solid #444;
  background: #fff;
  font: inherit;
}

.guides {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.guide {
  position: absolute;
  width: 1px;
  height: 100%;
  border-left: 1px dotted #222;
}
